<h1 class="site-title">
    <span class="base05">E</span><span class="base08">r</span><span class="base09">i</span><span class="base0a">c</span>

    <span class="base0b">B</span><span class="base0c">a</span><span class="base0d">r</span><span class="base05">b</span><span class="base08">o</span><span class="base09">u</span><span class="base0a">r</span>
</h1>

<!-- <div class="hero-logo">
     <img src="/img/base16-eighties.svg">
     </div> -->

<div style="text-align: center;">
  A blog where I post about stilly stuff
</div>
